@import './fonts.scss';

html {
	height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0px;
}

#app {
  height: 100%;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
